.app {
  align-items: center;
  color: rgb(47, 7, 141);
  background-color: burlywood;
}

.btn.btn-success {
  background-color: rgb(214, 211, 36);
  border: 2px solid rgb(0, 255, 191);
  border-radius: 4px;
  color: rgb(12, 46, 39) !important;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
.btn.btn-success:hover {
  background-color: rgb(0, 255, 191);
  border: 2px solid rgb(0, 255, 191);
  border-radius: 4px;
  color: rgb(226, 43, 58) !important;
  cursor: pointer;
}

.btn.btn-secondary {
  background-color: rgb(230, 154, 217);
  border: 2px solid rgb(255, 230, 0);
  border-radius: 4px;
  color: rgb(12, 46, 39) !important;
  cursor: pointer;
}
.btn.btn-secondary:hover {
  background-color: rgb(0, 255, 191);
  border: 2px solid rgb(0, 255, 191);
  border-radius: 4px;
  color: rgb(226, 43, 58) !important;
  cursor: pointer;
}

.app_recipes {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  align-items: baseline;
}


.fav_recipes {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-items: baseline;
  background-color: burlywood;
}

body {
  color: rgb(47, 7, 141);
  background-color: burlywood;
}

h1{
  text-align: center;
}

.input.form-control {
  width: 79% !important;
}
.navbar-expand-sm {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.btn.btn-primary {
 background-color: rgb(47, 7, 141) !important;
}

.logo-img {
  left: 8px;
  width: 80px;
  background-size: contain
}

.form-control {
  background-color: #fbe8d0 !important;
  display: flex !important;
}

.form-select {
  background-color: #fbe8d0 !important;
}
