.recipeTile_img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.recipeTile_name {
  max-width: 200px;
  text-align: center;
  margin: 12px 0px;
  align-items: baseline;
  margin-top: 10px;
}

.bt_favourite {
  padding: 7px 8px;
  text-align: center;
  margin: 5px 0px;
  align-items: baseline;
  border-radius: 10px;
  cursor: pointer;
}
